
<div *ngIf="memeTemplate">

  <md-card>

    <img md-card-image id="memeEditor" src="{{memeTemplate.url}}" [style.hideMe]="preview"  />

    <md-card-title >{{memeTemplate.name}}</md-card-title>

    <md-card-content class="secondary">
      <canvas id="memeCanvas" #memeCanvas></canvas>

        <input required [(ngModel)]="topCaption" type="text"/>
        <input required [(ngModel)]="bottomCaption" type="text"/>

    </md-card-content>


    <md-card-actions align="end">
      <button md-button color="primary" (click)="onPreview()">Preview</button>
      <button md-button color="primary"(click)="onCancel()">Cancel</button>
    </md-card-actions>

  </md-card>

</div>
